#blue {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #ffffff;
}

#red {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #ffffff;
}

#green {
    background-color: #5cb95c;
    border-color: #5cb95c;
    color: #ffffff
}

#yellow {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #ffffff
}

.diamond {
    padding: 0;
    background: #1eff00;
    margin: 0;
    width: 80px;
    height: 80px;
}